@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@model DTOLayer.DTOs.ContactDTOs.SendMessageDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

@if (TempData["Message2"] != null)
{
    @section message
    {
    @await Html.PartialAsync("_message", (string)TempData["Message2"] )
    }
}


<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">@localizer["Bize Ulaşın"]</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/Default/Index">DreamTravel</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>@localizer["İletişim"]</li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!-- contact-form -->
<section class="w3l-contact" id="contact">
    <div class="contact-infubd py-5">
        <div class="container py-lg-3">
            <div class="contact-grids row">
                <div class="col-lg-6 contact-left">
                    <div class="partners">
                        <div class="cont-details">
                            <h5>@localizer["İletişim"]</h5>
                            <p class="mt-3 mb-4">
                                @localizer["Rezervasyonlardan rehberlere, tur rotalarındaki konaklamadan vize işlemlerine kadar aklınıza takılan soru, öneri veya taleplerinizi 7/24 bize iletebilirsiniz"]
                            </p>
                            <p>
                                @localizer["Mesajlarınıza Dönüş Süremiz 48 Saattir."]
                            </p>
                        </div>
                        <br />
                        <div class="hours">
                            <h6 class="mt-4">@localizer["E-posta Adresi"]</h6>
                            <p>
                                <a href="mailto:info@dreamtravel.com">
                                    info@dreamtravel.com
                                </a>
                            </p>
                            <h6 class="mt-4">@localizer["Ofis Adresi"]</h6>
                            <p> 78-80 Upper St Giles St. Norwich NR2 1LT United Kingdom.</p>
                            <h6 class="mt-4">@localizer["İletişim Numarası"]</h6>
                            <p class="margin-top"><a href="tel:+44-255-366-88">0212 856 77 12</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 contact-right">
                    <h4>@localizer["Üye Olmadan Rezervasyon Yapmak İçin Bize Ulaşın"]</h4>
                    <br />
                    <form method="post" class="signin-form">
                        <div class="input-grids">
                            <div class="form-group">
                                <input type="text" id="w3lName" placeholder="@localizer["Adınız"]*" asp-for="Name" class="contact-input" />
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" id="w3lSender" placeholder="@localizer["Mail Adresiniz"]*" asp-for="Mail" class="contact-input" />
                                <span class="text-danger" asp-validation-for="Mail"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" id="w3lSubect" placeholder="@localizer["Konu"]*" asp-for="Subject" class="contact-input" />
                                <span class="text-danger" asp-validation-for="Subject"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea id="w3lMessage" placeholder="@localizer["Mesajınız"]*" asp-for="Content"></textarea>
                            <span class="text-danger" asp-validation-for="Content"></span>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-style btn-primary">@localizer["Gönder"]</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="map mt-5 pt-md-5">
                <h5></h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.7172365676593!2d29.0343153758574!3d40.987672171353395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab870784d1389%3A0x2bf4921764859e70!2zw5xsa2VyIEZlbmVyYmFow6dlIMWew7xrcsO8IFNhcmFjb8SfbHUgU3RhZHl1bXU!5e0!3m2!1str!2str!4v1722680800394!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>
