@model IEnumerable<EntityLayer.Concrete.Reservation>
@{
    ViewData["Title"] = "ProgressingReservation";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="container-fluid py-4">
    <h2>Rezervasyonlarım</h2>
    <div class="row ">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class=" p-0">
                        <table style="width:100%" class="text-center table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Lokasyon</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Kişi Sayısı</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Durum</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tarih</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var x in Model)
                                {
                                    <tr>
                                        <td>
                                            <b class="text-xs font-weight-bolder mb-0">@x.ReservationID</b>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <p class="text-xs font-weight-bold mb-0">@x.Destination.City</p>

                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@x.PersonCount</p>
                                        </td>
                                        <td>
                                            <span class="badge badge-sm bg-gradient-secondary">@x.Status</span>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@x.ReservationDate.ToShortDateString()</p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

